.margins {
    background-color: #4A774F;
}

body {
    background-color: #CFE0D0;
}

h1, h2 {
    font-family: "Times New Roman", Times, serif;
    color: #4A774F
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2em;
}

.pairs {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
}

div {
    margin-bottom: 2em;
}

#about {
    width: 260px;
    height: 250px;
    border-radius: 8px;
    margin: 0.5em;
}

#info {
    font-size: 1.5em;
}